<div class="w_foot_shallowbg">
        <div class="wp cl">
            <div class="flag_sec z">
                <p>
                    <a href=“/ "><img src="/static/images/logo.png " width="220 " height="66 " alt="[XXX有限公司] "></a>
                </p>
            </div>
            <div class="w_address z ">
                <p>Tadmin，基于ThinkPHP5.1+和AmazeUI的光速后台开发框架</p>
                <p>邮箱：techlee@qq.com</p>
                <p>本站内容、图片、视频为网站模板演示数据，如有涉及侵犯版权，请联系我们提供书面反馈，我们核实后会立即删除。</p>
            </div>
            <div class="w_ewm y cl ">
                <div class="ewm_img z "><img src="/static/images/ewm.png " alt="Tadmin"></div>
                <div class="ewm_info y ">
                    <p>官方微信公众号</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w_foot_deepbg ">
        <div class="wp cl ">
            <div class="y ">
                <p class="default-pc-copyright ">
                    <span>Powered by <a href="" target="_blank ">Tadmin</a></span> 
                </p>
            </div>
        </div>
    </div>