<!DOCTYPE html>
<html>
<head>
    <title>新闻中心 - {:site_config('title')}</title>
    <meta name="Keywords" content="{:site_config('keywords')}">
    <meta name="Description" content="{:site_config('description')}">
    {include file="layout/head" /}
</head>
<body>
    {include file="widget/header")}
    <div class="ibanner"></div>
    <div class="wp">
        <div class="w1188 mt25 cl">
            <dl class="default-pc-sidebar-dl ">
                <dt>
                    新闻中心<span>News Center</span>
                </dt>
                {foreach $leftCates as $row}
                <dd {if $cate.id == $row.id}class="a"{/if}><a href="{:url('news', ['cateId' => $row.id])}">{$row.name}</a></dd>
                {/foreach}
            </dl> 
            <div class="cbox right">                  
                <div class="page_box">
                    <div class="title cl">
                        <span class="tname left">{$cate.name}</span>
                        <span class="tmore right">
                           当前位置：<a href="/">网站首页</a> &gt;<a href="">{$cate.name}</a>
                        </span>
                    </div>
                    <ul class="case_box">
                        {foreach $cate->articles as $article}
                        <li class="cl">
                            <div class="case_cover left"><a href="{:url('news.item', ['cateId' => $article.category_id, 'id' => $article.id])}" target="_blank">
                            <img src="{$article.image ?? ''}" height="136" alt="{$article.title ?? ''}">
                            </a></div>
                            <div class="case_info right">
                                <h4><a href="{:url('news.item',  ['cateId' => $article.category_id, 'id' => $article.id])}" target="_blank">{$article.title}</a></h4>
                                <p>{$article.summary_text}</p>
                            </div>
                        </li>
                        {/foreach}
                    </ul>    
                    <div class="default-pc-page page cl">
                        {$cate->articles->render()|raw}
                    </div>        
                </div>                        
            </div>
        </div>
    </div>
    {include file="widget/footer")}
</body>
</html>