<!DOCTYPE html>
<html>
<head>
    <title>产品展示 - {:site_config('title')}</title>
    <meta name="Keywords" content="{:site_config('keywords')}">
    <meta name="Description" content="{:site_config('description')}">
    {include file="layout/head" /}
</head>
<body>
    {include file="widget/header")}
    <div class="ibanner"></div>
    <div class="wp">
        <div class="w1188 mt25 cl">
            <dl class="default-pc-sidebar-dl ">
                <dt>
                    产品展示<span>Product Center</span>
                </dt>
                {foreach $leftCates as $row}
                <dd {if $cate.id == $row.id}class="a"{/if}><a href="{:url('news', 'cateId='.$row.id)}">{$row.name}</a></dd>
                {/foreach}
            </dl> 
            <div class="cbox right">                  
                <div class="page_box">
                    <div class="title cl">
                        <span class="tname left">{$cate.name}</span>
                        <span class="tmore right">
                           当前位置：<a href="/">网站首页</a> &gt;<a href="">{$cate.name}</a>
                        </span>
                    </div>
                   <div class="page_box">
            <div class="page_title">
                <h3>{$article.title}</h3>
                <p>发布时间：{$article.created_at}<span>阅读：551</span>
                </p>
            </div>
            <div class="page_content">
                <div class="default-article-content" id="default-article-content">
                    {$article.content|raw}
                </div>
            </div>
            <div class="other">
                                <p>下一篇：<a href="news-article-457.html">安全放心 · 风控典范《金融理财E基金》</a></p>            </div>
        </div>  
                </div>                        
            </div>
        </div>
    </div>
    {include file="widget/footer")}
</body>
</html>